{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}


<br>
 <p class='m-auto  text-center bg-light fs-1 fw-medium  p-2 border-1 border-light rounded-5  w-50 h-50'style="color:grey;">About Unity Health Centre</p>
 <hr>
   


<div class="container-fluid border-2 bg-light rounded-5 p-2 m-auto  w-50 fs-5  " style="background-color:darkcyan;">

            <p class='text-center fw-medium fs-2'style="color:grey;">Our Mission<p>
                <hr>
            <p class='text-center fw-medium 'style="color:grey;">At Health Axis, our mission is to provide comprehensive and compassionate healthcare services to our community. We strive to deliver high-quality medical care, promote wellness, and improve the overall health and well-being of our patients.</p>
    
            <p class='text-center fw-medium fs-2'style="color:grey;">Our Vision</p>
            <hr>
            <p class='text-center fw-medium 'style="color:grey;">Our vision is to be a leading healthcare provider known for excellence in patient care, innovation, and community service. We aim to continuously enhance our services, embrace new technologies, and foster a culture of continuous improvement.</p>
      
            <p class='text-center fw-medium fs-2'style="color:grey;">Our Values</p>
            <hr>
            <div class='text-center fw-medium 'style="color:grey;">
            <ul>
                <li>Compassion: We treat every patient with empathy, dignity, and respect.</li>
                <li>Integrity: We uphold the highest ethical standards in all our interactions.</li>
                <li>Excellence: We are committed to delivering exceptional medical care and service.</li>
                <li>Collaboration: We work together as a team and value collaboration with patients, families, and healthcare partners.</li>
                <li>Innovation: We embrace innovation and continuously seek new ways to improve healthcare delivery.</li>
            </ul>
        </div>
            <p  class='text-center fw-medium fs-2'style="color:grey;">Our Team</p>
            <hr>
            <p class='text-center fw-medium 'style="color:grey;">Our team of dedicated healthcare professionals includes board-certified physicians, nurses, specialists, and support staff who are committed to providing personalized care and support to our patients.</p>
      
</div>

<footer class="footer">
    <div class="container">
        <p>&copy; 2024 Health Axis. All rights reserved.</p>
    </div>
</footer>


{% endblock %}