{% extends 'base.html'%}

{% block title %}
Contact Confirmation 
{% endblock %}


{% block content %}
<div class="container">
<p class="text-center border-1  border-light rounded-5 fs-1 fw-medium" style="color:grey;">Contact Confirmation</p>
<div class="alert alert-success fw-medium text-success" role="alert">
    Your message has been successfully submitted. Our team will review it shortly and get back to you as soon
     as possible. Thank you for contacting us!"
  </div>
</div>
{%endblock content%}